:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-background: #100a17;
    --color-titulo: #ca4343;
    --color-texto1: #19184a;
    --color-texto2: #2b1036;
    --color-texto3: #36102a;
    --color-texto4: #361010;
    --color-backfin: #000000;
    --color-half_life: #ff7700;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body{
    background-color: var(--color-background);
    color: var(--color-white);
}

h1,h2{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

a{
    color: var(--color-titulo)
}

#multimedia{
    display: block;
}

#controles{
    display: flex;
    justify-content: center;
}

#fnafbeatbox{
    width: 25rem;
    height: auto;
}

#form_inputs{
    display: flex;
    justify-content: center;
}

label{
    margin: 1rem 0.5rem;
}

#figuras{
    border: 1px solid var(--color-white);
    
}

#summarys_son{
    font-size: 2rem;
}

#barra_progreso{
    color: var(--color-half_life);
}